
@{
    ViewBag.Title = "Cancellation And Refund Policy";
}

<style>
    .clsUl {
        padding-left: 50px;
    }

        .clsUl li {
            display: list-item;
            line-height: 2;
            letter-spacing: 0.03em;
            font-size: 16px;
        }
</style>

<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Cancellation And Refund Policy</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Cancellation And Refund Policy</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!--section start-->
<section class="about-page section-b-space">
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <h4>Replace Policy</h4>
                <p>User can replace any order item with specifying their reason from website or mobile application.</p>
                <br />
                <p>
                    Admin will Accept/Reject of Replace request depend on condition of the reason and product.
                </p>
                <br />
                <p>Once Admin Accept, Order item status will be updated to Replace.</p>
                <br />
                <p>We will deliver other same product item to user at your shipping address.</p>
                <br /><br />
            </div>

            <div class="col-sm-12">
                <h4>Return Policy</h4>
                <p>User can return any order item with specifying their reason from website or mobile application. Once user request for return, It will be verified by Admin. </p>
                <br />
                <p>Admin can Accept/Reject of Return request.</p>
                <br />
                <p>
                    Once Admin Accept:
                    <ul class="clsUl">
                        <li>
                            If Order within Godhra, User will get payment of that Item's calculated final price with deducting 5% of amount, also shipping charge will be diducted. (Item Price - Shipping Price = Final Price - 5 % = Retunable Amount.
                        </li>
                        <li>
                            If order out of Godhra, User will payment of that Item's calculated final price with deducting 7% of amount. (Item Price - 7 % = Retunable Amount)
                        </li>
                    </ul>
                </p>
                <p>Priority to receive return amount: (1) Credit use (2) Wallet (3) Online payment as per order placed.</p>
                <br /><br />
            </div>

            <div class="col-sm-12">
                <h4>Exchange Policy</h4>
                <p>Customer can Exchange any order item with specifying their reason from website or mobile application. Once user request for exchange, It will be verified by Admin.</p>
                <p>Admin will Accept/Reject of Exchange request.</p>
                <p>Once Admin Accept: User will payment of that Item's calculated final price with deducting 3% of amount. (Item Price - 3 % = Retunable Amount).</p>
                <p>User will always get refurnd amount in only Wallet. You can use that amount in next order.</p>
                <p></p>
            </div>

            <div class="col-sm-12">
                <h4>Cancel Policy</h4>
                <p>
                    When user cancel any order item, Payment will refund only in Wallet to user.
                    <ul class="clsUl">
                        <li>
                            If order will be from within Godhra, You will get your Item Price and Shipping Price.
                        </li>
                        <li>
                            If  order will be from out of Godhra, You will get your Item Price.
                        </li>
                    </ul>
                </p>
                <br /><br />
            </div>

            <div class="col-sm-12">
                <h4>Contact Us</h4>
                <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.</p>
            </div>

        </div>
    </div>
</section>
<!--Section ends-->