@using KrupaBuildGallery.ViewModel
@model List<CategoryVM>
@{
    ViewBag.Title = "Category";

    int counter = 1;
}

<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Category List
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <table class="display table table-bordered table-striped" id="tblCategoryList">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Category Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Count > 0)
                                    {
                                        foreach (CategoryVM category in Model)
                                        {
                                            <tr class="gradeX">
                                                <td>@counter.</td>
                                                <td>@category.CategoryImage</td>
                                                <td>
                                                    <a href="/admin/category/edit/@category.CategoryId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                                    <button onclick="fnDeleteCategory('@category.CategoryId')" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                                </td>
                                            </tr>
                                            counter++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>
<!--main content end-->
<!-- Delete Modal -->
<div class="modal fade" id="deleteCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete Confirm</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteCategory" />
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                <button id="btnDeleteCategory" class="btn btn-danger" type="button">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete modal -->

<script src="~/Areas/Admin/Content/js/jquery.js"></script>

<script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function () {
        StartLoading();
        jQuery('html, body').animate({ scrollTop: 0 }, 1000);

        jQuery('#tblCategoryList').dataTable({
            "aaSorting": [],
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [0,2]
                }]
        });
    });

    jQuery(window).on("load", function () {
        StopLoading();
    });

    jQuery(document).on("click", "#btnDeleteCategory", function () {

        var Category_id = jQuery("#hdnDeleteCategory").val();
        if (Category_id != "" && Category_id != null) {
            $('#deleteCategoryModal').modal('hide');
            $.blockUI({ message: "<h4>Please Wait...</h4>" });
            var URL = '@Url.Action("DeleteCategory", "Category")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?CategoryId=" + Category_id,
                success: function (result) {
                    if (result == "success") {
                        alert("Category deleted successfully");
                        window.location.reload();
                    }
                    else if (result == "notfound") {
                        alert("Category Not Found");
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                    $.unblockUI();
                },
                error: function (resultData) {
                    console.log("error");
                    $.unblockUI();
                }
            });
        }
    });

    function fnDeleteCategory(Category_id) {
        jQuery("#hdnDeleteCategory").val(Category_id);
        $('#deleteCategoryModal').modal('show');
        }

</script>
