
@{
    ViewBag.Title = "Forgot Password";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Forgot Password</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Forgot password</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<section class="pwd-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>Forgot Your Password</h2>
                <form class="theme-form">
                    <div class="form-row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="email" placeholder="Enter Your Email" required="">
                        </div>
                        <input type="submit" value="Login" class="btn btn-solid" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>