
@{
    ViewBag.Title = "Change Password";
}

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <div class="page-header-left">
                        <h3>
                            Change Password
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item active">Change Password</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Change Password</h5>
                    </div>
                    <div class="card-body">
                        <form>

                            <div class="form-group row">
                                <label for="txtCurrentPassword" class="col-xl-3 col-md-4">Current Password</label>
                                <input type="password" class="form-control col-md-8" id="txtCurrentPassword" placeholder="Enter Current Password">

                                @*<lable class="col-xl-3 col-md-4"></lable>
                                    <span>Error message here</span>*@
                            </div>

                            <div class="form-group row">
                                <label for="txtNewPassword" class="col-xl-3 col-md-4">New Password</label>
                                <input type="password" class="form-control col-md-8" id="txtNewPassword" placeholder="Enter New Password">

                                @*<lable class="col-xl-3 col-md-4"></lable>
                                    <span>Error message here</span>*@
                            </div>

                            <div class="form-group row">
                                <label for="txtConfirmPassword" class="col-xl-3 col-md-4">Confirm Password</label>
                                <input type="password" class="form-control col-md-8" id="txtConfirmPassword" placeholder="Enter Confirm Password">

                                @*<lable class="col-xl-3 col-md-4"></lable>
                                    <span>Error message here</span>*@
                            </div>

                            <button type="button" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>

<script src="~/Content/assets/js/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>

</script>
 