<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <div class="row">
            <aside class="profile-info col-lg-12">
                <section class="panel">
                    <div class="panel-body bio-graph-info">
                        <h1>My Profile</h1>
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Profile Image</label>
                                <div class="col-md-9">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                        <div>
                                            <span class="btn btn-white btn-file">
                                                <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Select image</span>
                                                <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                                                <input type="file" class="default" />
                                            </span>
                                            <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash"></i> Remove</a>
                                        </div>
                                    </div>
                                    <span class="label label-danger">NOTE!</span>
                                    <span>
                                        Attached image thumbnail is
                                        supported in Latest Firefox, Chrome, Opera,
                                        Safari and Internet Explorer 10 only
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">User Name</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" readonly value="nileshp" id="txtUserName" placeholder=" ">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">First Name</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" value="Nilesh" id="txtFirstName" placeholder=" ">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Last Name</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" value="Prajapati" id="txtLastname" placeholder=" ">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">City</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" value="Anand" id="txtCity" placeholder=" ">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">State</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" value="Gujarat" id="txtState" placeholder=" ">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Mobile Number</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" value="887787878" id="txtMobile" placeholder=" ">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Email</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" value="admin@gmail.com" id="email" placeholder=" ">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button type="submit" class="btn btn-success">Save</button>
                                    <button type="button" class="btn btn-default">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>                
            </aside>
        </div>
        <!-- page end-->
    </section>
</section>
<!--main content end-->
