<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">


        .emppic {
            margin-top: 12.3rem;
            margin-left: 13.3rem;
            width: 242px;
            border-radius: 50%;
        }

        .comm {
            color: white;
            margin-left: -700px;
        }

        .content {
            font-size: 1.1rem;
            color: black;
            margin-left: 19.5rem;
        }
    </style>
</head>

<body>
    <div class="container-fluid">


        <!--Grid row-->
        <div class="row ">


            <!--Grid column-->
            <div class="col-md-6" style=" background-image: url(../Images/icard.png); background-repeat: no-repeat; height: 1018px; font-family: Arial;font-weight: bold;">


                <!--   <div class="col-md-6 mb-4"> -->



                <img class="emppic" alt="100x100" src="--IMGPIC--" data-holder-rendered="true">
                <div>
                    <h2 class="comm" style="text-align: center;margin-top: 5.5px; font-size: 2rem"><u>--NAME--</u></h2>
                </div>
                <div>
                    <h2 class="comm" style="text-align: center;margin-top: -29px; font-size: 2rem"><u>--DESIGNATION--</u></h2>
                </div>

                <div class="content" style="margin-top: 1.4rem;">
                    --CONTACTNO--
                </div>

                <div class="content" style="margin-top: 0.5rem;">
                    --DOJ--
                </div>
                <div class="content" style="margin-top: 0.5rem;">
                    --DOB--
                </div>
                <div class="content" style="margin-top: 0.5rem;">
                    --BG--
                </div>
                <div class="content" style="margin-top: 0.5rem;">
                    --ADHARNO--
                </div>
                <div class="content" style="margin-top: 0.5rem;">
                    --EXPIRYDATE--
                </div>
            </div>
        </div>
    </div>

    <!-- </div> -->

</body>
</html>