@using KrupaBuildGallery.Helper
@using KrupaBuildGallery.Model
@{
    ViewBag.Title = "Terms & Condition";
}

@{
    krupagallarydbEntities _db = new krupagallarydbEntities();
    List<tbl_DynamicContent> lstContent = _db.tbl_DynamicContent.Where(x => x.DynamicContentType == (int)DynamicContents.TermsCondition).OrderBy(x => x.SeqNo).ToList();
}

<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Terms & Condition</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Terms & Condition</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!--section start-->
<section class="about-page section-b-space">
    <div class="container">
        <div class="row">

            @if (lstContent != null && lstContent.Count > 0)
            {
                foreach (tbl_DynamicContent obj in lstContent)
                {
                    <div class="col-sm-12">
                        <h4>@obj.ContentTitle</h4>

                        @{ string desc = obj.ContentDescription.Replace("\n", "<br />\n"); }

                        @Html.Raw(desc)

                    </div>
                }
            }

        </div>
    </div>
</section>
<!--Section ends-->