@{
    List<VariantItemVM> lstVarint = ViewData["lstVarintss"] as List<VariantItemVM>;
}
@if (lstVarint != null && lstVarint.Count() > 0)
{
    <lable class="col-xl-3 col-md-4"></lable>
    <input type="hidden" value="" id="hdnUntType"/>
    <table class="col-xl-4 col-md-4">
        <tr>
            <td colspan="3" style="text-align:center;font-size:19px;">
                Item Variants
            </td> 
        </tr>
        @foreach (var objj in lstVarint)
        {
            string chk = "";
            if(objj.IsActive == true)
            {
                chk = "checked";
            }
            <tr>
                <td><input class="" @chk style="width:50px;" type="checkbox" name="chkvariant_@objj.VariantItemId" /></td>
                <td style="width:200px;">@objj.UnitQtyText</td>
                <td><input type="number" id="variantper_@objj.VariantItemId" style="width:100px;" placeholder="Percentage %" name="variantper_@objj.VariantItemId" value="@objj.PricePercentage" /></td>
            </tr>
        }

    </table>
}

