<style>
    .clsimgproduct{
     height:80px;
     width:80px;
    }
</style>
<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                       Product Items
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <table class="display table table-bordered table-striped" id="example">
                                <thead>
                                    <tr>
                                        <th>Main Image</th>
                                        <th>Item Name</th>
                                        <th>MRP Price</th>
                                        <th>Distributor Price</th>
                                        <th>Sale Price</th>
                                        <th>Sub Product Name</th>
                                        <th>Product Name</th>
                                        <th>Category Name</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="gradeX">
                                        <td><img src="\Areas\Admin\Content\img\product-list\pro-thumb-3.jpg"  class="clsimgproduct" /></td>
                                        <td>Item 1</td>
                                        <td>150</td>
                                        <td>120</td>
                                        <td>110</td>
                                        <td>SubProduct1</td>
                                        <td>Product1</td>
                                        <td>Category1</td>
                                        <td>
                                            <button class="btn btn-info btn-xs"><i class="fa fa-eye"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr class="gradeX">
                                         <td><img src="\Areas\Admin\Content\img\product-list\pro-thumb-3.jpg"  class="clsimgproduct" /></td>
                                        <td>Item 1</td>
                                        <td>150</td>
                                        <td>120</td>
                                        <td>110</td>
                                        <td>SubProduct2</td>
                                        <td>Product2</td>
                                        <td>Category2</td>
                                        <td>
                                            <button class="btn btn-info btn-xs"><i class="fa fa-eye"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr class="gradeX">
                                         <td><img src="\Areas\Admin\Content\img\product-list\pro-thumb-3.jpg"  class="clsimgproduct" /></td>
                                        <td>Item 1</td>
                                        <td>150</td>
                                        <td>120</td>
                                        <td>110</td>
                                        <td>SubProduct3</td>
                                        <td>Product3</td>
                                        <td>Category3</td>
                                        <td>
                                            <button class="btn btn-info btn-xs"><i class="fa fa-eye"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr class="gradeX">
                                         <td><img src="\Areas\Admin\Content\img\product-list\pro-thumb-3.jpg"  class="clsimgproduct" /></td>
                                        <td>Item 1</td>
                                        <td>150</td>
                                        <td>120</td>
                                        <td>110</td>
                                        <td>SubProduct4</td>
                                        <td>Product4</td>
                                        <td>Category4</td>
                                        <td>
                                            <button class="btn btn-info btn-xs"><i class="fa fa-eye"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                       <th>Main Image</th>
                                        <th>Item Name</th>
                                        <th>MRP Price</th>
                                        <th>Distributor Price</th>
                                        <th>Sale Price</th>
                                        <th>Sub Product Name</th>
                                        <th>Product Name</th>
                                        <th>Category Name</th>
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>
<!--main content end-->
<script type="text/javascript" language="javascript" src="~/Areas/Admin/Content/assets/advanced-datatable/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="~/Areas/Admin/Content/assets/data-tables/DT_bootstrap.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      $('#example').dataTable( {
                  "aaSorting": [[ 4, "desc" ]]
              });
    });
</script>