
<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>
                            Product Item List
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Product Item</li>
                        <li class="breadcrumb-item active">Product Item List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5>Product Item List</h5>
            </div>
            <div class="card-body vendor-table">
                <table class="display" id="basic-1">
                    <thead>
                        <tr>
                            <th>Vendor</th>
                            <th>Product Items</th>
                            <th>Store Name</th>
                            <th>Create Date</th>
                            <th>Wallet Balance</th>
                            <th>Revenue</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                <div class="d-flex vendor-list">
                                    <img src="~/Content/assets/images/team/1.jpg" alt="" class="img-fluid img-40 rounded-circle blur-up lazyloaded">
                                    <span>Paige Turner</span>
                                </div>
                            </td>
                            <td>4680</td>
                            <td>Finhigh</td>
                            <td>11/7/18</td>
                            <td>$87616</td>
                            <td>$947611</td>
                            <td>
                                <div>
                                    <i class="fa fa-edit mr-2 font-success"></i>
                                    <i class="fa fa-trash font-danger"></i>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>

