
@{
    ViewBag.Title = "About us"; 
}
<style>
    .techc li {
        display: list-item !important;
        font-size: 15px;
        color: #777777;
    }
</style>
<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>about us</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- about section start -->
<section class="about-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-section"><img src="~/Content/assets/images/about/about-krupa.jpg" class="img-fluid blur-up lazyload" alt=""></div>
            </div>
            <div class="col-sm-12" style="margin-top:10px;">
                <p><b>"Shopping&Saving"</b> powered by Krupa Build Gallery at Godhra Panchmahal is well known firm as building materials suppliers.</p>
            </div>

            <div class="col-sm-12">
                <h4>Company's Business profile:</h4>
                <p style="margin-bottom:5px;">Krupa Build Gallery is Founded by Mr. Prakash Magnani in the year of 2016.Over the course of its journey, this business has established a firm foothold in its industry. </p>
                <p style="margin-bottom:5px;">The belief that customer satisfaction is as important as their products and services. They have helped this establishment garner a vast base of customers, which continues to grow day by day. The employees in Krupa Build Gallery are dedicated towards their respective roles and they give a lot of effort to achieve the common vision and larger goals of the company. In the near future, this business aims to expand its line of products and services and cater to a larger client base. The company Occupies a Dealership in Hardware Materials, Building Materials, Electronics & Electrical Products.</p>
                <p style="margin-bottom:5px;">As of 1st July 2020 Krupa Build Gallery has Started a new journey of Online Business namely <b>"Shopping & Saving"</b>, it has a wide range of Products. We offer you convenience of shopping everything that you need for your home - Be It Fresh Fruits & Vegetables, Pulses, Oil, Packaged Food, Dairy Products, Frozen Items ,Other Grocery Products, household cleaning items, personal care products, BuildingMaterials, HardwareProducts, Tiles&Sanitary, Water Tanks & Many more products from a single virtual store.This all products are available on Android app <b>"Shopping & Saving"</b>. Right now, our services are available only in Godhra,further we will go ahead to Grow our business.</p>
                <p style="margin-bottom:5px;">The employees at Krupa Build Gallery are courteous and prompt at providing any assistance. They readily answer any queries or questions that customers may have.</p>
            </div>

            <div class="col-sm-12">
                <h4>About Founder:</h4>
                <p style="margin-bottom:5px;">Mr. Prakash Magnani, Managing Director- A successful administrator with the modern methods of marketing management. He created Krupa Build Gallery as a brand and plays major role of its growth. His core competency lies in Land Acquisition.  He has proven himself to be a technocrat, playing a key role in construction framework of various projects and its procurement. Supervising the sales department and attaching quality benchmarks to make Krupa a bigger brand.</p>
                <p style="margin-bottom:5px;">He was born at the year 1980, With Schooling at the age of 16 he joined his Family Business at Gajanan Traders, the firm is wholesale supplier of Coconuts & Match Sticks. With the family business he has done so many types of side businesses like book binding work at school, seasonable business of Kites, Retrieval work of Tata Telephone (WLL) &Reliance Communications (WLL) Under subcontractor, Advertisement on Projector at Four Way Location. Since 2009 he started his journey as Real Estate Agent after 1 year with Real Estate Agency, he started a Construction Business in Partnership, from this Industry he got an idea to do something different. So, after 5 years he started a new Journey at Krupa Build Gallery as Founder & Managing Director. Now Krupa Build Gallery is well known firm in the market.</p>
            </div>
            <div class="col-sm-12">
                <h4>Products and Services Provided by Krupa Build Gallery:</h4>
                 <label><b>Products:</b></label>
                 <ol class="techc">
                     <li>Hardware Materials</li>
                     <li>Building Materials</li>
                     <li>Construction Materials & Tools</li>
                     <li>Electronics & Electricals</li>
                     <li>Grocery</li>
                     <li>Vegetables & Fruits</li>
                     <li>Fashion & Accessories and all types of FMCG Products.</li>
                 </ol>
                 <br/>
                 <label><b>Services:</b></label>
                 <ol class="techc">
                     <li>Construction</li>
                     <li>Architectural Plans</li>
                     <li>Supervision on Construction Sites.</li>
                     <li>Carpentering Work</li>
                     <li>Real Estate Agent</li>                    
                 </ol>
            </div>
        </div>
    </div>
</section>
<!-- about section end -->
