@model List<LoginHistoryVM>
@{
    ViewBag.Title = "LoginHistory";

    int counter = 1;
}

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>
                            Login History List
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item active">Login History List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5>Login History List</h5>
            </div>
            <div class="card-body vendor-table">

                <table class="display" id="basic-1">
                    <thead>
                        <tr>
                            <th width="10%;">#</th>
                            <th width="15%;">User Name</th>
                            <th>Login Date</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (LoginHistoryVM obj in Model)
                            {
                                <tr class="gradeX">
                                    <td>@counter.</td>
                                    <td>@obj.AdminUserFullName</td>
                                    <td>@CommonMethod.ConvertFromUTC(Convert.ToDateTime(obj.DateAction))</td>
                                </tr>
                                counter++;
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>

<script>

    jQuery(document).ready(function () {
        //StartLoading()
        jQuery('html, body').animate({ scrollTop: 0 }, 1000);
    });

</script>