@using KrupaBuildGallery.Model;
@{
    ViewBag.Title = "Change Password";
}
<style>
    .clsdv label {
        color: #333333;
        font-size: 14px;
        font-weight: 600;
    }
    .clserror{
        color:red;
    }
</style>
<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Change Password</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Change Password</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->

<section class="contact-page register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <form id="frmChangePassword">
                    <div class="form-group row clsdv">
                        <label for="currentpwd" class="col-xl-3 col-md-4">Current Password</label>
                        <input type="password" class="form-control col-md-8" id="currentpwd" name="currentpwd" placeholder="Enter Current Password">

                        <lable class="col-xl-3 col-md-4"></lable>
                        <span id="spn_currentpwd" class="clserror"></span>
                    </div>

                    <div class="form-group row clsdv">
                        <label for="newpwd" class="col-xl-3 col-md-4">New Password</label>
                        <input type="password" class="form-control col-md-8" id="newpwd" name="newpwd" placeholder="Enter New Password">

                        <lable class="col-xl-3 col-md-4"></lable>
                        <span id="spn_newpwd" class="clserror"></span>
                    </div>

                    <div class="form-group row clsdv">
                        <label for="rtpwd" class="col-xl-3 col-md-4">Confirm Password</label>
                        <input type="password" class="form-control col-md-8" id="rtpwd" name="rtpwd" placeholder="Enter Confirm Password">

                        <lable class="col-xl-3 col-md-4"></lable>
                        <span id="spn_rtpwd" class="clserror"></span>
                    </div>

                    <div class="form-group row clsdv">
                        <lable class="col-xl-3 col-md-4"></lable>
                        <input type="hidden" id="hdnotptxt" value="" />
                        <button class="btn btn-sm btn-solid" id="btnChangePassword" type="button">Change Password</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
<div class="modal fade open" id="otpmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#hdnotptxt').val('');$('#otptxt').val('');">&times;</button>
            </div>
            <div class="modal-body">
                <label>Enter OTP</label><input type="text" id="otptxt" value="" class="form-control" />
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteProductItem" />
                <button data-dismiss="modal" class="btn btn-danger" type="button" onclick="$('#hdnotptxt').val('');$('#otptxt').val('');">Close</button>
                <button class="btn btn-primary" type="button" onclick="submitotp();">Submit</button>
            </div>
        </div>
    </div>
</div>
<script>


    jQuery(document).on("click", "#btnChangePassword", function () {
        var requiredMessage = 'This field is required';
        var flag = true;
        jQuery(".clserror").hide();

        var currentpwd = jQuery.trim(jQuery("#currentpwd").val());
        var newpwd = jQuery.trim(jQuery("#newpwd").val());
        var rtpwd = jQuery.trim(jQuery("#rtpwd").val());

        if (currentpwd == "" || currentpwd == null) {
            jQuery("#spn_currentpwd").text(requiredMessage);
            jQuery("#spn_currentpwd").show();
            flag = false;
        }
        if (newpwd == "" || newpwd == null) {
            jQuery("#spn_newpwd").text(requiredMessage);
            jQuery("#spn_newpwd").show();
            flag = false;
        }
        if (rtpwd == "" || rtpwd == null) {
            jQuery("#spn_rtpwd").text(requiredMessage);
            jQuery("#spn_rtpwd").show();
            flag = false;
        }

        if (newpwd != "" && rtpwd != "") {
            if (newpwd != rtpwd) {
                jQuery("#spn_rtpwd").text("New Password and Confirm password not matched");
                jQuery("#spn_rtpwd").show();
                flag = false;
            }
        }

        if (flag) {
             if ($('#hdnotptxt').val() == "") {
                 var URL = '@Url.Action("SendOTP", "MyProfile")';
               $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?MobileNumber=" + @clsClientSession.MobileNumber,
                success: function (result) {
                    if (result == "InvalidNumber") {
                        alert("Mobile Number is invalid");
                        return false;
                    }
                    else {
                        $('#hdnotptxt').val(result);
                        $("#otpmodal").modal();
                    }
                },
                error: function (resultData) {                    
                }
             });
                return false;
           }           
        }
    });

    function submitotp() {
        if ($("#otptxt").val() == "") {
            alert("Please enter otp");
            return false;
        }
 
        if ($("#otptxt").val() != $('#hdnotptxt').val()) {
             alert("Invalid OTP");
            return false;
        }
        $.blockUI({ message: "<h4>Please Wait...</h4>" });
            var URL = '@Url.Action("ChangePasswordSubmit", "MyProfile")';
            jQuery.ajax({
                url: URL,
                type: 'POST',
                data: jQuery('#frmChangePassword').serialize(),
                success: function (data) {
                    $.unblockUI();
                    if (data == "SUCCESS") {
                        alert("Password changed successfully");
                        window.location.href = "/login";
                    }
                    else if (data == "CP_NOT_MATCHED") {
                        alert("Current Password is wrong");
                    }
                    else {
                        alert("Error: Something went wrong. Please try again.");
                    }
                },
                error: function (data) {
                    alert("Something went wrong. Please try again.");
                }

            });
    }
</script>
