@using KrupaBuildGallery.Helper
@using KrupaBuildGallery.Model

@{
    ViewBag.Title = "FAQ";
}

@{
    krupagallarydbEntities _db = new krupagallarydbEntities();
    List<tbl_DynamicContent> lstContent = _db.tbl_DynamicContent.Where(x => x.DynamicContentType == (int)DynamicContents.FAQ).OrderBy(x => x.SeqNo).ToList();
}

<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>faq</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">faq</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!--section start-->
<section class="faq-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="accordion theme-accordion" id="accordionExample">
                    @{ int counter = 1; }
                    @if (lstContent != null && lstContent.Count > 0)
                    {
                        foreach (tbl_DynamicContent obj in lstContent)
                        {
                            <div class="card">
                                <div class="card-header" id="headingOne_@counter">
                                    <h5 class="mb-0"><button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne_@counter" aria-expanded="true" aria-controls="collapseOne_@counter">@obj.ContentTitle</button></h5>
                                </div>
                                <div id="collapseOne_@counter" class="collapse" aria-labelledby="headingOne_@counter" data-parent="#accordionExample">
                                    <div class="card-body">
                                        @{ string desc = obj.ContentDescription.Replace("\n", "<br />\n"); }

                                        @Html.Raw(desc)
                                    </div>
                                </div>
                            </div>
                            counter++;
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->
