
@{
    ViewBag.Title = "Home";
}

<!-- Slider Section Start -->
<div class="slider">
    <div class="all-slide owl-item">
        <!-- Slider Single Item Start -->
        <div class="single-slide" style="background-image:url(Areas/Client/Content/img/slide1.jpg);">
            <div class="slider-overlay"></div>
            <div class="slider-wrapper">
                <div class="slider-text">
                    <div class="slider-caption">
                        <h1>We are right person for your Educations teaching</h1>
                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec. Nam vel eu amet</p>
                        <ul>
                            <li><a href="about.html">learn more</a></li>
                            <li><a href="contact.html">contact us </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Single Item End -->
        <!-- Slider Single Item Start -->
        <div class="single-slide" style="background-image:url(Areas/Client/Content/img/slide2.jpg);">
            <div class="slider-overlay"></div>
            <div class="slider-wrapper">
                <div class="slider-text">
                    <div class="slider-caption">
                        <h1>We are right person for your Educations teaching</h1>
                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec. Nam vel eu amet</p>
                        <ul>
                            <li><a href="about.html">learn more</a></li>
                            <li><a href="contact.html">contact us </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Single Item End -->
    </div>
</div>
<!-- Slider Section End -->
<!-- About Us Section Start -->
<div class="about-us-sec pt-100 pb-70">
    <div class="container">
        <div class="row">
            <!-- About Us Short Description Start -->
            <div class="col-md-6">
                <div class="about-desc">
                    <h1>Welcome To Our learapress</h1>
                    <p>Lorem ipsum dolor sit amet, justo nunc orci donec sagittis metus dapibus, erat ullamcorper odio augue eleifend, consequat enim ullamcorper magnis dignissim nec phasellus, Lorem ipsum dolor sit amet, justo nunc orci donec sagittis metus dapibus, erat ullamcorper odio augue eleifend, consequat enim</p>
                    <p>Lorem ipsum dolor sit amet, justo nunc orci donec sagittis metus dapibus, erat ullamcorper odio augue eleifend, consequat enim .</p>
                    <a href="#" class="about-btn">Read More</a>
                </div>
            </div>
            <!-- About Us Short Description End -->
            <!-- Video Intro Start -->
            <div class="col-md-6">
                <div class="vedio-inner">
                    <img src="~/Areas/Client/Content/img/vedio_thumb.jpg" alt="">
                    <div class="vedio-overly">
                        <div class="vedio-button">
                            <a href="https://www.youtube.com/watch?v=YzDz8g1z83U" class="mfp-iframe vedio-play"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Video Intro End -->
        </div>
    </div>
</div>
<!-- About Us Section End -->
<!-- Course Heading Section Start -->
<div class="course-header-sec">
    <div class="course-sec-image"></div>
</div>
<!-- Course Heading Section End -->
<!-- Course Section Start -->
<div class="course-sec pb-70">
    <div class="container">
        <!-- Section Title Start -->
        <div class="row">
            <div class="col-md-12">
                <div class="sec-title">
                    <h1>Our Feature Course</h1>
                </div>
            </div>
        </div>
        <!-- Section Title End -->
        <div class="row">
            <div class="course-list-sec">
                <div class="all-course">
                    <!-- Course Single Inner Start -->
                    <div class="course-inner">
                        <div class="course-thumb">
                            <img src="~/Areas/Client/Content/img/course_1.jpg" alt="" />
                            <div class="teacher-thumb">
                                <img src="~/Areas/Client/Content/img/teacher_1.jpg" alt="" />
                            </div>
                            <div class="readmore-button">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                        <div class="course-meta">
                            <span class="course-price">$550</span>
                            <span class="course-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                        </div>
                        <div class="course-desc">
                            <h2><a href="#">affiliate marketing</a></h2>
                            <p>Ludus nemore qui ex. Verear luptatum principes sit ad.</p>
                        </div>
                        <div class="course-info">
                            <ul>
                                <li><a href="#"><i class="fa fa-user"></i>24 Seats</a></li>
                                <li><a href="#"><i class="fa fa-clock-o"></i>4 hour</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i>Save</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Course Single Inner End -->
                    <!-- Course Single Inner Start -->
                    <div class="course-inner">
                        <div class="course-thumb">
                            <img src="~/Areas/Client/Content/img/course_2.jpg" alt="" />
                            <div class="teacher-thumb">
                                <img src="~/Areas/Client/Content/img/teacher_2.jpg" alt="" />
                            </div>
                            <div class="readmore-button">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                        <div class="course-meta">
                            <span class="course-price">$250</span>
                            <span class="course-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                        </div>
                        <div class="course-desc">
                            <h2><a href="#">Graphics Design</a></h2>
                            <p>Ludus nemore qui ex. Verear luptatum principes sit ad.</p>
                        </div>
                        <div class="course-info">
                            <ul>
                                <li><a href="#"><i class="fa fa-user"></i>24 Seats</a></li>
                                <li><a href="#"><i class="fa fa-clock-o"></i>4 hour</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i>Save</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Course Single Inner End -->
                    <!-- Course Single Inner Start -->
                    <div class="course-inner">
                        <div class="course-thumb">
                            <img src="~/Areas/Client/Content/img/course_4.jpg" alt="" />
                            <div class="teacher-thumb">
                                <img src="~/Areas/Client/Content/img/teacher_3.jpg" alt="" />
                            </div>
                            <div class="readmore-button">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                        <div class="course-meta">
                            <span class="course-price">$350</span>
                            <span class="course-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                        </div>
                        <div class="course-desc">
                            <h2><a href="#">Web Development</a></h2>
                            <p>Ludus nemore qui ex. Verear luptatum principes sit ad.</p>
                        </div>
                        <div class="course-info">
                            <ul>
                                <li><a href="#"><i class="fa fa-user"></i>24 Seats</a></li>
                                <li><a href="#"><i class="fa fa-clock-o"></i>4 hour</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i>Save</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Course Single Inner End -->
                    <!-- Course Single Inner Start -->
                    <div class="course-inner">
                        <div class="course-thumb">
                            <img src="~/Areas/Client/Content/img/course_3.jpg" alt="" />
                            <div class="teacher-thumb">
                                <img src="~/Areas/Client/Content/img/teacher_1.jpg" alt="" />
                            </div>
                            <div class="readmore-button">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                        <div class="course-meta">
                            <span class="course-price">$450</span>
                            <span class="course-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                        </div>
                        <div class="course-desc">
                            <h2><a href="#">Search Engine Optimization(SEO)</a></h2>
                            <p>Ludus nemore qui ex. Verear luptatum principes sit ad.</p>
                        </div>
                        <div class="course-info">
                            <ul>
                                <li><a href="#"><i class="fa fa-user"></i>24 Seats</a></li>
                                <li><a href="#"><i class="fa fa-clock-o"></i>4 hour</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i>Save</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Course Single Inner End -->
                    <!-- Course Single Inner Start -->
                    <div class="course-inner">
                        <div class="course-thumb">
                            <img src="~/Areas/Client/Content/img/course_5.jpg" alt="" />
                            <div class="teacher-thumb">
                                <img src="~/Areas/Client/Content/img/teacher_2.jpg" alt="" />
                            </div>
                            <div class="readmore-button">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                        <div class="course-meta">
                            <span class="course-price">$450</span>
                            <span class="course-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                        </div>
                        <div class="course-desc">
                            <h2><a href="#">Article Writing</a></h2>
                            <p>Ludus nemore qui ex. Verear luptatum principes sit ad.</p>
                        </div>
                        <div class="course-info">
                            <ul>
                                <li><a href="#"><i class="fa fa-user"></i>24 Seats</a></li>
                                <li><a href="#"><i class="fa fa-clock-o"></i>4 hour</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i>Save</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Course Single Inner End -->
                    <!-- Course Single Inner Start -->
                    <div class="course-inner">
                        <div class="course-thumb">
                            <img src="~/Areas/Client/Content/img/course_6.jpg" alt="" />
                            <div class="teacher-thumb">
                                <img src="~/Areas/Client/Content/img/teacher_3.jpg" alt="" />
                            </div>
                            <div class="readmore-button">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                        <div class="course-meta">
                            <span class="course-price">$450</span>
                            <span class="course-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                        </div>
                        <div class="course-desc">
                            <h2><a href="#">Virtual Assitance</a></h2>
                            <p>Ludus nemore qui ex. Verear luptatum principes sit ad.</p>
                        </div>
                        <div class="course-info">
                            <ul>
                                <li><a href="#"><i class="fa fa-user"></i>24 Seats</a></li>
                                <li><a href="#"><i class="fa fa-clock-o"></i>4 hour</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i>Save</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Course Single Inner End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Course Section End -->
<!-- Another Course Section Start -->
<div class="another-course-sec pb-70">
    <div class="container">
        <!-- Section Title Start -->
        <div class="row">
            <div class="col-md-12">
                <div class="sec-title">
                    <h1>Another Course</h1>
                    <p>Lorem ipsum dolor sit amet, lorem nibh lectus urna arcu, lorem erat semper, auctor suspendisse quisque molestie ut. Elit massa dui, leo enim magna. Cursus maecenas cubilia, ac nonummy, egestas mauris .</p>
                </div>
            </div>
        </div>
        <!-- Section Title End -->
        <div class="row">
            <!-- Course Single Inner Start -->
            <div class="col-md-4">
                <div class="course-inner">
                    <div class="course-thumb">
                        <img src="~/Areas/Client/Content/img/course_1.jpg" alt="" />
                        <div class="teacher-thumb">
                            <img src="~/Areas/Client/Content/img/teacher_1.jpg" alt="" />
                        </div>
                        <div class="readmore-button">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                    <div class="course-meta">
                        <span class="course-price">$250</span>
                        <span class="course-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </span>
                    </div>
                    <div class="course-desc">
                        <h2><a href="#">Support center</a></h2>
                        <p>Ludus nemore qui ex. Verear luptatum principes sit ad.</p>
                    </div>
                    <div class="course-info">
                        <ul>
                            <li><a href="#"><i class="fa fa-user"></i>28 Seats</a></li>
                            <li><a href="#"><i class="fa fa-clock-o"></i>6 hour</a></li>
                            <li><a href="#"><i class="fa fa-heart"></i>Save</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Course Single Inner End -->
            <!-- Course Single Inner Start -->
            <div class="col-md-4">
                <div class="course-inner">
                    <div class="course-thumb">
                        <img src="~/Areas/Client/Content/img/course_2.jpg" alt="" />
                        <div class="teacher-thumb">
                            <img src="~/Areas/Client/Content/img/teacher_2.jpg" alt="" />
                        </div>
                        <div class="readmore-button">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                    <div class="course-meta">
                        <span class="course-price">$150</span>
                        <span class="course-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </span>
                    </div>
                    <div class="course-desc">
                        <h2><a href="#">Web Development</a></h2>
                        <p>Ludus nemore qui ex. Verear luptatum principes sit ad.</p>
                    </div>
                    <div class="course-info">
                        <ul>
                            <li><a href="#"><i class="fa fa-user"></i>26 Seats</a></li>
                            <li><a href="#"><i class="fa fa-clock-o"></i>5 hour</a></li>
                            <li><a href="#"><i class="fa fa-heart"></i>Save</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Course Single Inner End -->
            <!-- Course Single Inner Start -->
            <div class="col-md-4">
                <div class="course-inner">
                    <div class="course-thumb">
                        <img src="~/Areas/Client/Content/img/course_3.jpg" alt="" />
                        <div class="teacher-thumb">
                            <img src="~/Areas/Client/Content/img/teacher_3.jpg" alt="" />
                        </div>
                        <div class="readmore-button">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                    <div class="course-meta">
                        <span class="course-price">$350</span>
                        <span class="course-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </span>
                    </div>
                    <div class="course-desc">
                        <h2><a href="#">motion graphics</a></h2>
                        <p>Ludus nemore qui ex. Verear luptatum principes sit ad.</p>
                    </div>
                    <div class="course-info">
                        <ul>
                            <li><a href="#"><i class="fa fa-user"></i>23 Seats</a></li>
                            <li><a href="#"><i class="fa fa-clock-o"></i>6 hour</a></li>
                            <li><a href="#"><i class="fa fa-heart"></i>Save</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Course Single Inner End -->
        </div>
    </div>
</div>
<!-- Another Course Section End -->
<!-- Count Up Section Start -->
<div class="count-up-sec">
    <div class="count-up-sec-overlay"></div>
    <div class="container">
        <div class="row">
            <!-- Count Up Inner Start -->
            <div class="col-md-3 col-sm-6 col-xs-6 inner">
                <div class="count-up-inner">
                    <div class="count-up-icon">
                        <img src="~/Areas/Client/Content/img/icon/employee.png" alt="" />
                    </div>
                    <div class="countup-text">
                        <h2 class="counter">246</h2>
                        <h4>Expert Instructor</h4>
                    </div>
                </div>
            </div>
            <!-- Count Up Inner End -->
            <!-- Count Up Inner Start -->
            <div class="col-md-3 col-sm-6 col-xs-6 inner">
                <div class="count-up-inner">
                    <div class="count-up-icon">
                        <img src="~/Areas/Client/Content/img/icon/customer.png" alt="" />
                    </div>
                    <div class="countup-text">
                        <h2 class="counter">416</h2>
                        <h4>happy student</h4>
                    </div>
                </div>
            </div>
            <!-- Count Up Inner End -->
            <!-- Count Up Inner Start -->
            <div class="col-md-3 col-sm-6 col-xs-6 inner">
                <div class="count-up-inner">
                    <div class="count-up-icon">
                        <img src="~/Areas/Client/Content/img/icon/project.png" alt="" />
                    </div>
                    <div class="countup-text">
                        <h2 class="counter">648</h2>
                        <h4>course Done</h4>
                    </div>
                </div>
            </div>
            <!-- Count Up Inner End -->
            <!-- Count Up Inner Start -->
            <div class="col-md-3 col-sm-6 col-xs-6 inner">
                <div class="count-up-inner">
                    <div class="count-up-icon">
                        <img src="~/Areas/Client/Content/img/icon/medal.png" alt="" />
                    </div>
                    <div class="countup-text">
                        <h2 class="counter">824</h2>
                        <h4>award winner</h4>
                    </div>
                </div>
            </div>
            <!-- Count Up Inner End -->
        </div>
    </div>
</div>
<!-- Count Up Section End -->
<!-- Gallery Section Start -->
<div class="gallery-sec pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sec-title">
                    <h1>Our Student Gallery</h1>
                    <p>Lorem ipsum dolor sit amet, lorem nibh lectus urna arcu, lorem erat semper, auctor suspendisse quisque molestie ut. Elit massa dui, leo enim magna. Cursus maecenas cubilia, ac nonummy, egestas mauris .</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="gallery-area">
                <!-- Gallery Filter Start -->
                <div class="navbarsort">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarfiltr" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="shorttitle">
                        <h2>Sort Gallery</h2>
                    </div>
                </div>
                <div class="collapse navbar-collapse latest--project" id="navbarfiltr">
                    <ul class="simplefilter">
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".institute">institute</li>
                        <li data-filter=".library">library</li>
                        <li data-filter=".etertainment">etertainment</li>
                        <li data-filter=".classroom">classroom</li>
                    </ul>
                </div>
                <!-- Gallery Filter End -->
                <!-- Gallery container Start -->
                <div class="gallery-container">
                    <!-- Gallery Item Block Start -->
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item etertainment">
                        <div class="gallery-item">
                            <img src="~/Areas/Client/Content/img/g1.jpg" alt="" />
                            <div class="gallery-overlay">
                                <div class="gallery-overlay-text">
                                    <span class="gallery-button">
                                        <a href="~/Areas/Client/Content/img/g1.jpg" class="gallery-photo"><i class="fa fa-file-image-o"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item Block End -->
                    <!-- Gallery Item Block Start -->
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item library">
                        <div class="gallery-item">
                            <img src="~/Areas/Client/Content/img/g2.jpg" alt="" />
                            <div class="gallery-overlay">
                                <div class="gallery-overlay-text">
                                    <span class="gallery-button">
                                        <a href="~/Areas/Client/Content/img/g2.jpg" class="gallery-photo"><i class="fa fa-file-image-o"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item Block End -->
                    <!-- Gallery Item Block Start -->
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item institute">
                        <div class="gallery-item">
                            <img src="~/Areas/Client/Content/img/g3.jpg" alt="" />
                            <div class="gallery-overlay">
                                <div class="gallery-overlay-text">
                                    <span class="gallery-button">
                                        <a href="~/Areas/Client/Content/img/g3.jpg" class="gallery-photo"><i class="fa fa-file-image-o"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item Block End -->
                    <!-- Gallery Item Block Start -->
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item institute etertainment">
                        <div class="gallery-item">
                            <img src="~/Areas/Client/Content/img/g4.jpg" alt="" />
                            <div class="gallery-overlay">
                                <div class="gallery-overlay-text">
                                    <span class="gallery-button">
                                        <a href="~/Areas/Client/Content/img/g4.jpg" class="gallery-photo"><i class="fa fa-file-image-o"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item Block End -->
                    <!-- Gallery Item Block Start -->
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item etertainment">
                        <div class="gallery-item">
                            <img src="~/Areas/Client/Content/img/g5.jpg" alt="" />
                            <div class="gallery-overlay">
                                <div class="gallery-overlay-text">
                                    <span class="gallery-button">
                                        <a href="~/Areas/Client/Content/img/g5.jpg" class="gallery-photo"><i class="fa fa-file-image-o"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item Block End -->
                    <!-- Gallery Item Block Start -->
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item library">
                        <div class="gallery-item">
                            <img src="~/Areas/Client/Content/img/g6.jpg" alt="" />
                            <div class="gallery-overlay">
                                <div class="gallery-overlay-text">
                                    <span class="gallery-button">
                                        <a href="~/Areas/Client/Content/img/g6.jpg" class="gallery-photo"><i class="fa fa-file-image-o"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item Block End -->
                    <!-- Gallery Item Block Start -->
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item institute">
                        <div class="gallery-item">
                            <img src="~/Areas/Client/Content/img/g7.jpg" alt="" />
                            <div class="gallery-overlay">
                                <div class="gallery-overlay-text">
                                    <span class="gallery-button">
                                        <a href="~/Areas/Client/Content/img/g7.jpg" class="gallery-photo"><i class="fa fa-file-image-o"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item Block End -->
                    <!-- Gallery Item Block Start -->
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item institute etertainment">
                        <div class="gallery-item">
                            <img src="~/Areas/Client/Content/img/g8.jpg" alt="" />
                            <div class="gallery-overlay">
                                <div class="gallery-overlay-text">
                                    <span class="gallery-button">
                                        <a href="~/Areas/Client/Content/img/g8.jpg" class="gallery-photo"><i class="fa fa-file-image-o"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item Block End -->
                </div>
                <!-- Gallery container End -->
                <!-- Gallery Load More Button Start-->
                <div class="col-md-12">
                    <div class="gallery-load-more-btn">
                        <a href="#">Load More Gallery</a>
                    </div>
                </div>
                <!-- Gallery Load More Button Start-->
            </div>
        </div>
    </div>
</div>
<!-- Gallery Section End -->
<!-- Why Choose Us Start -->
<div class="why-choose-us-sec pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sec-title">
                    <h1>Why Choose Us Course</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="why-choose-all">
                    <!-- Single Why Choose Inner Start -->
                    <div class="why-choose-inner">
                        <div class="why-choose-thumb">
                            <img src="~/Areas/Client/Content/img/why_us_1.jpg" alt="" />
                            <div class="why-choose-icon">
                                <img src="~/Areas/Client/Content/img/icon/employees.png" alt="" />
                            </div>
                        </div>
                        <div class="why-choose-text">
                            <h2><a href="#">Friendly Environment</a></h2>
                            <p>Timeam nusquam usu ut, civibus fabellas eleifend eu vis. Id ipsum civibus pri, te ignota dignissim mel, iisque recteque.</p>
                        </div>
                    </div>
                    <!-- Single Why Choose Inner End -->
                    <!-- Single Why Choose Inner Start -->
                    <div class="why-choose-inner">
                        <div class="why-choose-thumb">
                            <img src="~/Areas/Client/Content/img/why_us_2.jpg" alt="" />
                            <div class="why-choose-icon">
                                <img src="~/Areas/Client/Content/img/icon/statistics.png" alt="" />
                            </div>
                        </div>
                        <div class="why-choose-text">
                            <h2><a href="#">Expert Instructor</a></h2>
                            <p>Timeam nusquam usu ut, civibus fabellas eleifend eu vis. Id ipsum civibus pri, te ignota dignissim mel, iisque recteque.</p>
                        </div>
                    </div>
                    <!-- Single Why Choose Inner End -->
                    <!-- Single Why Choose Inner Start -->
                    <div class="why-choose-inner">
                        <div class="why-choose-thumb">
                            <img src="~/Areas/Client/Content/img/why_us_3.jpg" alt="" />
                            <div class="why-choose-icon">
                                <img src="~/Areas/Client/Content/img/icon/locked.png" alt="" />
                            </div>
                        </div>
                        <div class="why-choose-text">
                            <h2><a href="#">Group Teaching</a></h2>
                            <p>Timeam nusquam usu ut, civibus fabellas eleifend eu vis. Id ipsum civibus pri, te ignota dignissim mel, iisque recteque.</p>
                        </div>
                    </div>
                    <!-- Single Why Choose Inner End -->
                    <!-- Single Why Choose Inner Start -->
                    <div class="why-choose-inner">
                        <div class="why-choose-thumb">
                            <img src="~/Areas/Client/Content/img/why_us_1.jpg" alt="" />
                            <div class="why-choose-icon">
                                <img src="~/Areas/Client/Content/img/icon/employees.png" alt="" />
                            </div>
                        </div>
                        <div class="why-choose-text">
                            <h2><a href="#">Friendly Environment</a></h2>
                            <p>Timeam nusquam usu ut, civibus fabellas eleifend eu vis. Id ipsum civibus pri, te ignota dignissim mel, iisque recteque.</p>
                        </div>
                    </div>
                    <!-- Single Why Choose Inner End -->
                    <!-- Single Why Choose Inner Start -->
                    <div class="why-choose-inner">
                        <div class="why-choose-thumb">
                            <img src="~/Areas/Client/Content/img/why_us_2.jpg" alt="" />
                            <div class="why-choose-icon">
                                <img src="~/Areas/Client/Content/img/icon/statistics.png" alt="" />
                            </div>
                        </div>
                        <div class="why-choose-text">
                            <h2><a href="#">Expert Instructor</a></h2>
                            <p>Timeam nusquam usu ut, civibus fabellas eleifend eu vis. Id ipsum civibus pri, te ignota dignissim mel, iisque recteque.</p>
                        </div>
                    </div>
                    <!-- Single Why Choose Inner End -->
                    <!-- Single Why Choose Inner Start -->
                    <div class="why-choose-inner">
                        <div class="why-choose-thumb">
                            <img src="~/Areas/Client/Content/img/why_us_3.jpg" alt="" />
                            <div class="why-choose-icon">
                                <img src="~/Areas/Client/Content/img/icon/locked.png" alt="" />
                            </div>
                        </div>
                        <div class="why-choose-text">
                            <h2><a href="#">Group Teaching</a></h2>
                            <p>Timeam nusquam usu ut, civibus fabellas eleifend eu vis. Id ipsum civibus pri, te ignota dignissim mel, iisque recteque.</p>
                        </div>
                    </div>
                    <!-- Single Why Choose Inner End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Why Choose Us End -->
<!-- Instructor Section Start -->
<div class="instructor-sec pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sec-title">
                    <h1>Our Expert Instructor</h1>
                    <p>Lorem ipsum dolor sit amet, lorem nibh lectus urna arcu, lorem erat semper, auctor suspendisse quisque molestie ut. Elit massa dui, leo enim magna. Cursus maecenas cubilia, ac nonummy, egestas mauris .</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="instructor-member">
                    <div class="instructor-member-thumb">
                        <img src="~/Areas/Client/Content/img/teacher_1.jpg" alt="" />
                        <div class="instructor-overlay">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h2>Isabella</h2>
                    <h3>Web Development</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="instructor-member">
                    <div class="instructor-member-thumb">
                        <img src="~/Areas/Client/Content/img/teacher_2.jpg" alt="" />
                        <div class="instructor-overlay">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h2>Christopher</h2>
                    <h3>Article Writing</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="instructor-member">
                    <div class="instructor-member-thumb">
                        <img src="~/Areas/Client/Content/img/teacher_3.jpg" alt="" />
                        <div class="instructor-overlay">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h2>Benjamin</h2>
                    <h3>Graphics Design</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="instructor-member">
                    <div class="instructor-member-thumb">
                        <img src="~/Areas/Client/Content/img/teacher_4.jpg" alt="" />
                        <div class="instructor-overlay">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h2>Michael</h2>
                    <h3>Apps Development</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Instructor Section End -->
<!-- Testimonial Section Start -->
<div class="testimonial-sec pt-100 pb-100">
    <div class="testimonial-sec-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="all-testimonial">
                    <!-- Single Testimonial Item Start -->
                    <div class="single-testimonial">
                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec.Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec.</p>
                        <div class="testimonial">
                            <div class="inner">
                                <div class="client-info">
                                    <h2>Michael</h2>
                                    <h3>Ceo & Founder</h3>
                                </div>
                            </div>
                            <div class="inner">
                                <div class="testimonial-client-img">
                                    <img src="~/Areas/Client/Content/img/testimonial_1.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Testimonial Item End -->
                    <!-- Single Testimonial Item Start -->
                    <div class="single-testimonial">
                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec.Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec.</p>
                        <div class="testimonial">
                            <div class="inner">
                                <div class="client-info">
                                    <h2>lucie</h2>
                                    <h3>Ceo & Founder</h3>
                                </div>
                            </div>
                            <div class="inner">
                                <div class="testimonial-client-img">
                                    <img src="~/Areas/Client/Content/img/testimonial_2.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Testimonial Item End -->
                    <!-- Single Testimonial Item Start -->
                    <div class="single-testimonial">
                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec.Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec.</p>
                        <div class="testimonial">
                            <div class="inner">
                                <div class="client-info">
                                    <h2>Benjamin</h2>
                                    <h3>Ceo & Founder</h3>
                                </div>
                            </div>
                            <div class="inner">
                                <div class="testimonial-client-img">
                                    <img src="~/Areas/Client/Content/img/testimonial_3.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Testimonial Item End -->
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
<!-- Testimonial Section End -->
<!-- Event Section Start -->
<div class="event-sec pt-100 pb-70">
    <div class="container">
        <div class="row">
            <!-- Faq Area Start -->
            <div class="col-md-6">
                <div class="faq-style1-sec">
                    <h1 class="faq-style1-title">Freequently Asked Question</h1>
                    <div class="panel-group" id="accordion" role="tablist">
                        <!-- Single Faq Item Start -->
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="titleOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        What`s the mission of learapress ?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="titleOne">
                                <div class="panel-content">
                                    Lorem ipsum dolor sit amet, mauris maecenas vel. Massa ultrices erat sit dolore. Vestibulum nunc. Nec tellus vulputate facilisis. Congue nunc enim platea, dolor lacinia arcu, vehicula nascetur purus penatibus ac pulvinar, sit ac faucibus. Vitae eros justo duis lacus iaculis eu
                                </div>
                            </div>
                        </div>
                        <!-- Single Faq Item End -->
                        <!-- Single Faq Item Start -->
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="titleTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        How can i get your service?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="titleTwo">
                                <div class="panel-content">
                                    Lorem ipsum dolor sit amet, mauris maecenas vel. Massa ultrices erat sit dolore. Vestibulum nunc. Nec tellus vulputate facilisis. Congue nunc enim platea, dolor lacinia arcu, vehicula nascetur purus penatibus ac pulvinar, sit ac faucibus. Vitae eros justo duis lacus iaculis eu
                                </div>
                            </div>
                        </div>
                        <!-- Single Faq Item End -->
                        <!-- Single Faq Item Start -->
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="titleThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        How much exprience about learapress?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="titleThree">
                                <div class="panel-content">
                                    Lorem ipsum dolor sit amet, mauris maecenas vel. Massa ultrices erat sit dolore. Vestibulum nunc. Nec tellus vulputate facilisis. Congue nunc enim platea, dolor lacinia arcu, vehicula nascetur purus penatibus ac pulvinar, sit ac faucibus. Vitae eros justo duis lacus iaculis eu
                                </div>
                            </div>
                        </div>
                        <!-- Single Faq Item End -->
                        <!-- Single Faq Item Start -->
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="titleFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Lorem ipsum dolor sit amet?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="titleFour">
                                <div class="panel-content">
                                    Lorem ipsum dolor sit amet, mauris maecenas vel. Massa ultrices erat sit dolore. Vestibulum nunc. Nec tellus vulputate facilisis. Congue nunc enim platea, dolor lacinia arcu, vehicula nascetur purus penatibus ac pulvinar, sit ac faucibus. Vitae eros justo duis lacus iaculis eu
                                </div>
                            </div>
                        </div>
                        <!-- Single Faq Item End -->
                        <!-- Single Faq Item Start -->
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="titleFive">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        how much offer for customer ?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="titleFive">
                                <div class="panel-content">
                                    Lorem ipsum dolor sit amet, mauris maecenas vel. Massa ultrices erat sit dolore. Vestibulum nunc. Nec tellus vulputate facilisis. Congue nunc enim platea, dolor lacinia arcu, vehicula nascetur purus penatibus ac pulvinar, sit ac faucibus. Vitae eros justo duis lacus iaculis eu
                                </div>
                            </div>
                        </div>
                        <!-- Single Faq Item End -->
                    </div>
                </div>
            </div>
            <!-- Faq Area End -->
            <!-- Event Area Start -->
            <div class="col-md-6">
                <h1 class="faq-style1-title">Join Us Our Event</h1>
                <!-- Single Event Start -->
                <div class="event-inner">
                    <div class="event-thumb">
                        <img src="~/Areas/Client/Content/img/g1.jpg" alt="" />
                        <div class="event-overlay">
                            <a href="event-details.html"><i class="fa fa-external-link"></i></a>
                        </div>
                    </div>
                    <div class="event-desc">
                        <h2><a href="#">Mel apeirian salutatus scripserit ex</a></h2>
                        <div class="event-meta">
                            <ul>
                                <li><i class="fa fa-map-marker"></i>Californiya , United State</li>
                                <li><i class="fa fa-clock-o"></i>08.00 - 11.30</li>
                            </ul>
                        </div>
                        <p>Mel apeirian salutatus scripserit ex, omnesque aliquando moderatius cum et. Affert euismod scaevola qui cu.</p>
                    </div>
                </div>
                <!-- Single Event End -->
                <!-- Single Event Start -->
                <div class="event-inner">
                    <div class="event-thumb">
                        <img src="~/Areas/Client/Content/img/g2.jpg" alt="" />
                        <div class="event-overlay">
                            <a href="event-details.html"><i class="fa fa-external-link"></i></a>
                        </div>
                    </div>
                    <div class="event-desc">
                        <h2><a href="#">Mel apeirian salutatus scripserit ex</a></h2>
                        <div class="event-meta">
                            <ul>
                                <li><i class="fa fa-map-marker"></i>Californiya , United State</li>
                                <li><i class="fa fa-clock-o"></i>08.00 - 11.30</li>
                            </ul>
                        </div>
                        <p>Mel apeirian salutatus scripserit ex, omnesque aliquando moderatius cum et. Affert euismod scaevola qui cu.</p>
                    </div>
                </div>
                <!-- Single Event End -->
                <!-- Single Event Start -->
                <div class="event-inner">
                    <div class="event-thumb">
                        <img src="~/Areas/Client/Content/img/g3.jpg" alt="" />
                        <div class="event-overlay">
                            <a href="event-details.html"><i class="fa fa-external-link"></i></a>
                        </div>
                    </div>
                    <div class="event-desc">
                        <h2><a href="#">Mel apeirian salutatus scripserit ex</a></h2>
                        <div class="event-meta">
                            <ul>
                                <li><i class="fa fa-map-marker"></i>Californiya , United State</li>
                                <li><i class="fa fa-clock-o"></i>08.00 - 11.30</li>
                            </ul>
                        </div>
                        <p>Mel apeirian salutatus scripserit ex, omnesque aliquando moderatius cum et. Affert euismod scaevola qui cu.</p>
                    </div>
                </div>
                <!-- Single Event End -->
            </div>
            <!-- Event Area End -->
        </div>
    </div>
</div>
<!-- Event Section End -->
<!-- Call To Action Section Start -->
<div class="call-to-action-sec">
    <div class="call-to-action-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-9">
                <div class="call-to-action-text">
                    <h2>contact with us for customer support</h2>
                    <p>we are provide 24/7 hours to support.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class="call-to-action-text">
                    <a href="contact.html" class="btn">get support</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call To Action Section Start -->
<!-- Blog Section Start -->
<div class="blog-sec pt-100 pb-70">
    <div class="container">
        <!-- Section Title Start -->
        <div class="row">
            <div class="col-md-12">
                <div class="sec-title">
                    <h1>our latest post</h1>
                </div>
            </div>
        </div>
        <!-- Section Title End -->
        <div class="row">
            <div class="col-md-12">
                <div class="all-latest-news">
                    <!-- Single Blog Item Start -->
                    <div class="single-post">
                        <div class="single-post-thumb">
                            <img src="~/Areas/Client/Content/img/b1.jpg" alt="" />
                            <div class="single-post-thumb-overlay">
                                <div class="post-meta">
                                    <ul>
                                        <li><a href=""><i class="fa fa-user"></i>Admin</a></li>
                                        <li><a href=""><i class="fa fa-calendar"></i>1 Jan 2018</a></li>
                                        <li><a href=""><i class="fa fa-comment-o"></i>36</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-post-text">
                            <h2><a href="blog-details.html">write a good professional server-side scripting language php code</a></h2>
                            <p>Lorem ipsum dolor sit amet, fusce adipiscing at sed aliquam pellentesque eu, etiam in massa. Sagittis urna tellus augue montes .</p>
                            <a href="blog-details.html" class="blog-readmore">Continue reading</a>
                        </div>
                    </div>
                    <!-- Single Blog Item End -->
                    <!-- Single Blog Item Start -->
                    <div class="single-post">
                        <div class="single-post-thumb">
                            <img src="~/Areas/Client/Content/img/b2.jpg" alt="" />
                            <div class="single-post-thumb-overlay">
                                <div class="post-meta">
                                    <ul>
                                        <li><a href=""><i class="fa fa-user"></i>Admin</a></li>
                                        <li><a href=""><i class="fa fa-calendar"></i>1 Jan 2018</a></li>
                                        <li><a href=""><i class="fa fa-comment-o"></i>36</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-post-text">
                            <h2><a href="blog-details.html">Most Popular Python to build desktop apps and web apps</a></h2>
                            <p>Lorem ipsum dolor sit amet, fusce adipiscing at sed aliquam pellentesque eu, etiam in massa. Sagittis urna tellus augue montes .</p>
                            <a href="blog-details.html" class="blog-readmore">Continue reading</a>
                        </div>
                    </div>
                    <!-- Single Blog Item End -->
                    <!-- Single Blog Item Start -->
                    <div class="single-post">
                        <div class="single-post-thumb">
                            <img src="~/Areas/Client/Content/img/b3.jpg" alt="" />
                            <div class="single-post-thumb-overlay">
                                <div class="post-meta">
                                    <ul>
                                        <li><a href=""><i class="fa fa-user"></i>Admin</a></li>
                                        <li><a href=""><i class="fa fa-calendar"></i>1 Jan 2018</a></li>
                                        <li><a href=""><i class="fa fa-comment-o"></i>36</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-post-text">
                            <h2><a href="blog-details.html">Java Programing language use for apps, game develop</a></h2>
                            <p>Lorem ipsum dolor sit amet, fusce adipiscing at sed aliquam pellentesque eu, etiam in massa. Sagittis urna tellus augue montes .</p>
                            <a href="blog-details.html" class="blog-readmore">Continue reading</a>
                        </div>
                    </div>
                    <!-- Single Blog Item End -->
                    <!-- Single Blog Item Start -->
                    <div class="single-post">
                        <div class="single-post-thumb">
                            <img src="~/Areas/Client/Content/img/b1.jpg" alt="" />
                            <div class="single-post-thumb-overlay">
                                <div class="post-meta">
                                    <ul>
                                        <li><a href=""><i class="fa fa-user"></i>Admin</a></li>
                                        <li><a href=""><i class="fa fa-calendar"></i>1 Jan 2018</a></li>
                                        <li><a href=""><i class="fa fa-comment-o"></i>36</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-post-text">
                            <h2><a href="blog-details.html">write a good professional server-side scripting language php code</a></h2>
                            <p>Lorem ipsum dolor sit amet, fusce adipiscing at sed aliquam pellentesque eu, etiam in massa. Sagittis urna tellus augue montes .</p>
                            <a href="blog-details.html" class="blog-readmore">Continue reading</a>
                        </div>
                    </div>
                    <!-- Single Blog Item End -->
                    <!-- Single Blog Item Start -->
                    <div class="single-post">
                        <div class="single-post-thumb">
                            <img src="~/Areas/Client/Content/img/b2.jpg" alt="" />
                            <div class="single-post-thumb-overlay">
                                <div class="post-meta">
                                    <ul>
                                        <li><a href=""><i class="fa fa-user"></i>Admin</a></li>
                                        <li><a href=""><i class="fa fa-calendar"></i>1 Jan 2018</a></li>
                                        <li><a href=""><i class="fa fa-comment-o"></i>36</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-post-text">
                            <h2><a href="blog-details.html">Most Popular Python to build desktop apps and web apps</a></h2>
                            <p>Lorem ipsum dolor sit amet, fusce adipiscing at sed aliquam pellentesque eu, etiam in massa. Sagittis urna tellus augue montes .</p>
                            <a href="blog-details.html" class="blog-readmore">Continue reading</a>
                        </div>
                    </div>
                    <!-- Single Blog Item End -->
                    <!-- Single Blog Item Start -->
                    <div class="single-post">
                        <div class="single-post-thumb">
                            <img src="~/Areas/Client/Content/img/b3.jpg" alt="" />
                            <div class="single-post-thumb-overlay">
                                <div class="post-meta">
                                    <ul>
                                        <li><a href=""><i class="fa fa-user"></i>Admin</a></li>
                                        <li><a href=""><i class="fa fa-calendar"></i>1 Jan 2018</a></li>
                                        <li><a href=""><i class="fa fa-comment-o"></i>36</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-post-text">
                            <h2><a href="blog-details.html">Java Programing language use for apps, game develop</a></h2>
                            <p>Lorem ipsum dolor sit amet, fusce adipiscing at sed aliquam pellentesque eu, etiam in massa. Sagittis urna tellus augue montes .</p>
                            <a href="blog-details.html" class="blog-readmore">Continue reading</a>
                        </div>
                    </div>
                    <!-- Single Blog Item End -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Section End -->	