@{
    ViewBag.Title = "Login";
}

<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Distributor's login</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">login</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Login</h3>
                <div class="theme-card">
                    @using (Html.BeginForm("CheckLoginDistributor", "Login", FormMethod.Post, new { ID = "theFormId", @class = "theme-form", onsubmit = "return Login();" }))
                    {
                        <div class="form-group">
                            <label for="email">Email/Mobile Number</label>
                            <input type="text" class="form-control" id="emailmobile" name="emailmobile" placeholder="Enter Email or Mobile Number" required="">
                        </div>
                        <div class="form-group">
                            <label for="review">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required="">

                            @if (TempData["LoginError"] != null)
                            {
                                <span style="color:red;" class="errorcls">@TempData["LoginError"]</span>
                            }
                            else
                            {
                                <span style="color:red;" class="errorcls"></span>
                            }
                            <br />

                            <a href="/forgotpassword?type=2" style="margin-right:15px;font-weight: bold;">Forgot your password?</a>
                            @if (ViewBag.Referer == "")
                            {
                                <a href="/login" style="font-weight: bold;">Click to Login as Customer!</a>
                            }
                            else
                            {
                                <a href="/login?referer=@ViewBag.Referer" style="font-weight: bold;">Click to Login as Customer!</a>
                            }
                        </div>

                        <input type="hidden" name="hdnReferer" value="@ViewBag.Referer" />
                        <input type="hidden" id="hdnotptxt" value="" />
                        <input type="hidden" id="hdnotptxtvalid" value="false" />
                        <input type="submit" value="Login" class="btn btn-solid" />

                    }
                </div>
            </div>
            <div class="col-lg-6 right-login">
                <h3>New Customer</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">Create A Account </h6>
                    @if (ViewBag.Referer == "")
                    {
                        <p>Sign up for a free account at our store. Registration is quick and easy. It allows you to be able to order from our shop. To start shopping click register.</p><a href="/register" class="btn btn-solid">Create an Account</a>
                    }
                    else
                    {
                        <p>Sign up for a free account at our store. Registration is quick and easy. It allows you to be able to order from our shop. To start shopping click register.</p><a href="/register?referer=@ViewBag.Referer" class="btn btn-solid">Create an Account</a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade open" id="otpmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login OTP</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#hdnotptxt').val('');$('#otptxt').val('');">&times;</button>
            </div>
            <div class="modal-body">
                <label>Enter OTP</label><input type="text" id="otptxt" value="" class="form-control" />                
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteProductItem" />
                <button data-dismiss="modal" class="btn btn-danger" type="button" onclick="$('#hdnotptxt').val('');$('#otptxt').val('');">Close</button>
                <button class="btn btn-primary" type="button" onclick="submitotp();">Submit</button>
            </div>
        </div>
    </div>
</div>
<!--Section ends-->
<script>
    function Login() {
        if ($("#emailmobile").val().trim() == "" || $("#password").val().trim() == "") {
            $(".errorcls").html("Mobilenumber/Email and Password must be required!!");
            return false;
        }
        else {
            if ($('#hdnotptxt').val() == "" || $("#hdnotptxtvalid").val() == "false") {
                 var URL = '@Url.Action("SendOTP", "Login")';
               $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?MobileNumber=" + $("#emailmobile").val(),
                success: function (result) {
                    if (result == "NotExist") {
                        alert("Username or Password is Invalid");
                        return false;
                    }
                    if (result == "InActiveAccount") {
                        alert("Your Account is Inactive. Please contact to support");
                        return false;
                    }                    
                    else {                      
                        alert("Otp Sent to your registerd mobile number and on email.");
                        $('#hdnotptxt').val(result);                 
                        $("#otpmodal").modal();
                    }
                },
                error: function (resultData) {
                }
            });
                return false;
            }
            else {
                StartLoading();
                return true;
            }
        }
    }

    function submitotp() {
        if ($("#otptxt").val() == "" || $("#otpemiltxt").val() == "") {
            alert("Please enter otp");
            return false;
        }

        if ($("#otptxt").val() != $('#hdnotptxt').val()) {
            alert("Invalid OTP");
            return false;
        }
        else {
            $("#hdnotptxtvalid").val("true");
        }

        $("#theFormId").submit();
    }
</script>
