<style>
    .clsimgproduct {
        height: 80px;
        width: 80px;
    }
</style>
<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Distributors
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <table class="display table table-bordered table-striped" id="example">
                                <thead>
                                    <tr>
                                        <th>Photo</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Mobile No.</th>
                                        <th>UserName</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>Company</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="gradeX">
                                        <td><img src="\Areas\Admin\Content\img\product-list\pro-thumb-3.jpg" class="clsimgproduct" /></td>
                                        <td>KBS</td>
                                        <td>Shah</td>
                                        <td>kb@@gmail.com</td>
                                        <td>9899999999</td>
                                        <td>kb111</td>
                                        <td>Anand</td>
                                        <td>Gujarat</td>
                                        <td>AbcCompany</td>
                                        <td>
                                            <button class="btn btn-info btn-xs"><i class="fa fa-eye"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td><img src="\Areas\Admin\Content\img\product-list\pro-thumb-3.jpg" class="clsimgproduct" /></td>
                                        <td>ABDS</td>
                                        <td>Patel</td>
                                        <td>Ab1@@gmail.com</td>
                                        <td>8559999999</td>
                                        <td>ab111</td>
                                        <td>Surat</td>
                                        <td>Gujarat</td>
                                        <td>xyzCompany</td>
                                        <td>
                                            <button class="btn btn-info btn-xs"><i class="fa fa-eye"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td><img src="\Areas\Admin\Content\img\product-list\pro-thumb-3.jpg" class="clsimgproduct" /></td>
                                        <td>ABDS</td>
                                        <td>Patel</td>
                                        <td>Ab1@@gmail.com</td>
                                        <td>8559999999</td>
                                        <td>ab111</td>
                                        <td>Surat</td>
                                        <td>Gujarat</td>
                                        <td>pqrCompany</td>
                                        <td>
                                            <button class="btn btn-info btn-xs"><i class="fa fa-eye"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td><img src="\Areas\Admin\Content\img\product-list\pro-thumb-3.jpg" class="clsimgproduct" /></td>
                                        <td>ABDS</td>
                                        <td>Patel</td>
                                        <td>Ab1@@gmail.com</td>
                                        <td>8559999999</td>
                                        <td>ab111</td>
                                        <td>Surat</td>
                                        <td>Gujarat</td>
                                        <td>zzzCompany</td>
                                        <td>
                                            <button class="btn btn-info btn-xs"><i class="fa fa-eye"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Photo</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Mobile No.</th>
                                        <th>UserName</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>Company</th>
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>
<!--main content end-->
<script type="text/javascript" language="javascript" src="~/Areas/Admin/Content/assets/advanced-datatable/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="~/Areas/Admin/Content/assets/data-tables/DT_bootstrap.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      $('#example').dataTable( {
                  "aaSorting": [[ 4, "desc" ]]
              });
    });
</script>