<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Add Offer
                    </header>
                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="selectcategory">Category</label>
                                <select id="selectcategory" class="form-control m-bot15" style="width:350px;">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="selectproduct">Product</label>
                                <select id="selectproduct" class="form-control m-bot15" style="width:350px;">
                                    <option>Product 1</option>
                                    <option>Product 2</option>
                                    <option>Product 3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="selectsubproduct">Sub Product</label>
                                <select id="selectsubproduct" class="form-control m-bot15" style="width:350px;">
                                    <option>Sub Product 1</option>
                                    <option>Sub Product 2</option>
                                    <option>Sub Product 3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="selectprodItem">Product Item</label>
                                <select id="selectprodItem" class="form-control m-bot15" style="width:350px;">
                                    <option>Item1</option>
                                    <option>Item2</option>
                                    <option>Item 13</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="txtItemName">Offer Title</label>
                                <input type="text" class="form-control" id="txtOfferTitle" style="width:350px;" placeholder="Enter Offer Title">
                            </div>
                            <div class="form-group">
                                <label for="txtmrpprice">Offer Price</label>
                                <input type="number" class="form-control" id="txtofferprice" style="width:200px;" placeholder="Enter Offer Price">
                            </div>
                            <div class="form-group">
                                <label for="txtofferstartdt">Offer Start Date</label>
                                <input id="txtofferstartdt" class="form-control form-control-inline input-medium default-date-picker" style="width:200px;" size="16" type="text" value="">
                            </div>
                            <div class="form-group">
                                <label for="txtofferenddt">Offer End Date</label>
                                <input class="form-control form-control-inline input-medium default-date-picker" id="txtofferenddt" style="width:200px;" size="16" type="text" value="">
                            </div>

                            <button type="submit" class="btn btn-info">Submit</button>
                        </form>
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>
<!--main content end-->
@*<script type="text/javascript" language="javascript" src="~/Areas/Admin/Content/assets/advanced-datatable/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Content/assets/data-tables/DT_bootstrap.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
          $('#example').dataTable( {
                      "aaSorting": [[ 4, "desc" ]]
                  });
        });
    </script>*@