
@using KrupaBuildGallery.Helper;
@using Newtonsoft.Json;
@using KrupaBuildGallery.Model;

@model List<ReferenceVM>
@{
    ViewBag.Title = "Reference List";

    int counter = 1;
}

@{
    UserPermissionVM objPermission = new UserPermissionVM();

    int RoleId = Int32.Parse(clsAdminSession.RoleID.ToString());

    if (RoleId != 1)
    {
        string strPermission = clsAdminSession.UserPermission;
        objPermission = JsonConvert.DeserializeObject<UserPermissionVM>(strPermission, new JsonSerializerSettings { NullValueHandling = NullValueHandling.Ignore });
    }
    bool IsSA = (RoleId == 1 ? true : false);
}

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>
                            Reference List
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item active">Reference List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5>Reference List</h5>
            </div>
            <div class="card-body vendor-table">
                @if (IsSA || objPermission.ManagePageContent >= (int)ModulePermission.Add)
                {
                    <div class="btn-popup pull-right">
                        <button type="button" class="btn btn-primary" id="btnAdd">Add Reference</button>
                    </div>
                }
                <table class="display" id="basic-1">
                    <thead>
                        <tr>
                            <th width="10%;">#</th>
                            <th>Reference</th>
                            <th width="15%;">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (ReferenceVM item in Model)
                            {
                                <tr class="gradeX">
                                    <td>@counter.</td>

                                    <td>@item.Reference</td>
                                    <td>
                                        @if (IsSA || objPermission.ManagePageContent >= (int)ModulePermission.Edit)
                                        {
                                            <a title="Edit" href="/admin/reference/edit/@item.ReferenceId"><i class="fa fa-edit mr-2 font-success"></i></a>
                                        }
                                        @if (IsSA || objPermission.ManagePageContent == (int)ModulePermission.Full)
                                        {
                                            <a title="Delete" href="javascript:void(0);" onclick="fnDeleteReference('@item.ReferenceId')"><i class="fa fa-trash font-danger"></i></a>
                                        }
                                    </td>
                                </tr>
                                counter++;
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>

<!-- Delete Modal -->
<div class="modal fade open" id="deleteReferenceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteReference" />
                <button data-dismiss="modal" class="btn btn-danger" type="button">Close</button>
                <button id="btnDeleteReference" class="btn btn-primary" type="button">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete modal -->

<script>

    jQuery(document).ready(function () {
        jQuery('html, body').animate({ scrollTop: 0 }, 1000);
    });

    $(document).on("click", "#btnAdd", function () {
            window.location.href = "/admin/reference/add";
        });

    function fnDeleteReference(cat_id)
    {
        jQuery("#hdnDeleteReference").val(cat_id);
        $('#deleteReferenceModal').modal('show');
    }

    jQuery(document).on("click", "#btnDeleteReference", function () {

        var ReferenceId = jQuery("#hdnDeleteReference").val();
        if (ReferenceId != "" && ReferenceId != null)
        {

        $('#deleteReferenceModal').modal('hide');

        StartLoading();

        var URL = '@Url.Action("DeleteReference", "Reference")';
        $.ajax({
            type: 'POST',
            async: true,
            url: URL + "?ReferenceId=" + ReferenceId,
            success: function(result) {
                    if (result == "success")
                    {
                        alert("Reference deleted successfully");
                        window.location.reload();
                    }
                    else if (result == "notfound")
                    {
                        alert("Reference Not Found");
                    }
                    else
                    {
                        alert("Something went wrong. Please try again");
                    }

                    StopLoading();
                },
            error: function(resultData) {
                    StopLoading();
                }
            });
        }
    });

</script>
